<section style="background-image:linear-gradient(#a72fe5, #660ff7);" class="whatIsNew  rotate-6  ">

    <div
        class=" rotate-container mx-auto w-10/12 grid lg:grid-cols-2   flex justify-center items-center py-20 text-white">
        <div class="pe-14">

            <h2 class="text-5xl font-bold py-2">See what’s new on Pluto TV, Tubi, & more.
            </h2>

            <p class="py-2">Select your favorite streaming services to discover more, search faster, and get curated
                recommendations—all without ever leaving Plex. Connect with friends to see who’s watching what, where.
            </p>
            <button class="btn">Descover More Now</button>
        </div>
        <div class="flex-grow ">
            <img src="assets/imgis/watch-free-discover-image-1024x773.png" alt="">
        </div>
    </div>
</section>