<section class="icons py-14">
    <div class="container w-10/12 mx-auto  grid lg:grid-cols-4 md:grid-cols-2">

        <div class="card p-5 ">
            <i class="fa-solid fa-earth-americas text-5xl text-[#d828afb6]"></i>
            <h2 class="py-2 font-bold">Works Worldwide</h2>
            <p>No other free streaming service delivers more content to and from more countries worldwide. </p>
        </div>
        <div class="card p-5">
            <i class="fa-solid fa-newspaper text-5xl text-[#21d2d2d0]"></i>
            <h2 class="py-2 font-bold">Thousands of Titles </h2>
            <p>Choose from movies, shows, sports and music documentaries, AMC series, Live TV and more. </p>
        </div>
        <div class="card p-5">
            <i class="fa-solid fa-piggy-bank text-5xl text-[#d828afc6] "></i>
            <h2 class="py-2 font-bold">Always 100% Free </h2>
            <p>Welcome to instant gratification at its best. Watch now without any payment or subscription and end the
                search for free movie websites. </p>
        </div>
        <div class="card p-5">
            <i class="fa-solid fa-laptop text-5xl text-[#e5a10dbc]"></i>
            <h2 class="py-2 font-bold">Device-Friendly </h2>
            <p>Stream the good stuff from your favorite devices including Apple, Android, Smart TVs and more. </p>
        </div>
    </div>
</section>