<footer class="bg-[#282a2d] py-16">
    <div class="container grid lg:grid-cols-2 w-10/12  mx-auto">
        <div class="img m-auto">
            <img width="200px" src="../../assets/imgis/plex-logo.svg" alt="">
        </div>

        <div class="links sm:text-left text-center  text-white grid lg:grid-cols-5 md:grid-cols-2 gap-8 ">
            <ul>
                <li class="first:font-bold hover:text-[#e5a00d]">Company</li>
                <li class="opacity-70 hover:text-[#e5a00d]">Carseer</li>
                <li class="opacity-70 hover:text-[#e5a00d]">Our clint</li>
                <li class="opacity-70 hover:text-[#e5a00d]">Giving</li>
                <li class="opacity-70 hover:text-[#e5a00d]">news</li>
                <li class="opacity-70 hover:text-[#e5a00d]">plex gear</li>
                <li class="opacity-70 hover:text-[#e5a00d]">Our clint</li>
                <li class="opacity-70 hover:text-[#e5a00d]">Giving</li>
                <li class="opacity-70 hover:text-[#e5a00d]">news</li>

            </ul>
            <ul>
                <li class="hover:text-[#e5a00d] first:font-bold">Plex Pass</li>
                <li class="opacity-70 hover:text-[#e5a00d]">plex lap</li>
                <li class="opacity-70 hover:text-[#e5a00d]">geat preak</li>
                <li class="opacity-70 hover:text-[#e5a00d]">tdle</li>
                <li class="opacity-70 hover:text-[#e5a00d]">plex</li>
            </ul>
            <ul>
                <li class="hover:text-[#e5a00d] first:font-bold">Downloads</li>
                <li class="opacity-70 hover:text-[#e5a00d]">plex lap</li>
                <li class="opacity-70 hover:text-[#e5a00d]">geat preak</li>
                <li class="opacity-70 hover:text-[#e5a00d]">tdle</li>
                <li class="opacity-70 hover:text-[#e5a00d]">plex</li>
            </ul>
            <ul>
                <li class="hover:text-[#e5a00d] first:font-bold">Support</li>
                <li class="opacity-70 hover:text-[#e5a00d]">Carseer</li>
                <li class="opacity-70 hover:text-[#e5a00d]">Our clint</li>
                <li class="opacity-70 hover:text-[#e5a00d]">Giving</li>
                <li class="opacity-70 hover:text-[#e5a00d]">news</li>
                <li class="opacity-70 hover:text-[#e5a00d]">About</li>
                <li class="opacity-70 hover:text-[#e5a00d]">About</li>
            </ul>
            <ul>
                <li class="hover:text-[#e5a00d] first:font-bold">Watch Free</li>
                <li class="opacity-70 hover:text-[#e5a00d]">Carseer</li>
                <li class="opacity-70 hover:text-[#e5a00d]">Our clint</li>
                <li class="opacity-70 hover:text-[#e5a00d]">Giving</li>
                <li class="opacity-70 hover:text-[#e5a00d]">news</li>
                <li class="opacity-70 hover:text-[#e5a00d]">About</li>
            </ul>

        </div>
    </div>

    <div class="my-10  border-t-2  bg-[#282a2d] text-center  py-10 text-yellow-50 grid lg:grid-cols-2 justify-evenly">
        <p>Copyright © 2024 Plex
            Privacy & Legal Accessibility Manage Cookies
            Language: English (US)</p>
        <ul class="flex justify-center md:my-0 my-10 ">
            <li><i class="text-2xl  px-4 fa-brands fa-twitter"></i></li>
            <li><i class="text-2xl  px-4 fa-brands fa-facebook"></i></li>
            <li><i class="text-2xl  px-4 fa-brands fa-instagram"></i></li>
            <li><i class="text-2xl  px-4 fa-brands fa-google-drive"></i></li>
            <li><i class="text-2xl  px-4 fa-brands fa-google"></i></li>
        </ul>
    </div>
</footer>