<section style="background-image: url(../../assets/imgis/freeMovies.png) ; height: 100vh; "
    class="home flex justify-start items-center overflow-hidden ">
    <div class="text-white ps-24 w-9/12 ">
        <h1 class="md:text-5xl text-3xl  font-bold  py-8 animate__animated animate__backInLeft">Free Movies to
            Watch,<br> Anytime
            Anywhere.</h1>
        <p class="md:text-2xl animate__animated animate__backInRight">The search is over! Let Plex help you find the
            perfect <br>movie to watch tonight for free.
        </p>
        <button class="btn animate__animated animate__backInLeft">Watch Free</button>
    </div>
</section>

<app-display-movies></app-display-movies>