<section
    style="height:100vh; background-image: url(assets/imgis/movis.png);background-position:calc(160px) ;background-size: cover ; "
    class=" freeMovies flex justify-start items-center overflow-hidden">

    <div class=" ps-20 text-white">
        <h1 class="py-4 text-3xl md:text-5xl font-bold animate__animated animate__backInLeft">Movies <span
                class="text-[#c89f19]">&</span> TV Shows
        </h1>
        <p class="md:text-2xl py-4  animate__animated animate__backInRight">Check out the best movies and shows,
            complete with
            maniacs,<br> slashers, ghosts, goblins,
            and everything in
            between.
        </p>

        <button class="btn animate__animated animate__backInLeft">Sing Up</button>

    </div>

</section>

<app-display-movies></app-display-movies>