<section class="earirToWatch py-4">
    <div class="w-10/12 mx-auto container gap-4  grid lg:grid-cols-2  items-center  ">
        <div class=" p-10">
            <img class="" src="../../assets/imgis/Continue_Watching_v2-2-1024x1088.png" alt="">
        </div>
        <div class=" p-5">
            <h2 class="text-4xl">It has never been easier to watch free movies online.</h2>
            <p>Once you register for a free account with Plex, we’ll keep your place from screen to screen as long as
                you’re signed in. No matter what device you choose, your free movies will pick up where you left off
                with ease. </p>
            <button class="btn">watch Free</button>
        </div>
    </div>
</section>